{
  "presets": [
    "@babel/preset-react",
    [
      "react-app",
      {
        "absoluteRuntime": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-private-property-in-object"
  ]
}